<section class="py-4 font-serif m-auto max-w-xl lg:py-32" id="authors">
    <div class="text-center container m-auto"> 
    <label for="tagline" class="uppercase tracking-wide font-bold text-center text-grey-dark"> About the 
    </label>
    <h2 class="mt-2 mb-4 font-medium max-w-sm m-auto italic">
      Authors
    </h2>
    <hr class="border-b w-8 m-auto my-6">
  </div>


  <div class="m-auto flex flex-wrap flex-col md:flex-row justify-start">
    
    <div class="md:w-1/2 p-3">
      <div class="flex flex-col lg:flex-row h-auto lg:h-32">
        <img class="w-full lg:w-48 flex-none pt-4" src="{{ siteUrl }}assets/img/sonja-wasden.jpg">
        <div class="bg-white p-4 flex flex-col justify-between leading-normal">              
          <div class="text-black text-xl mb-2 leading-loose">Sonja Wasden graduated
from Brigham Young University with a BA in Humanities. She married in 1992 and worked as a homemaker, caring for her three children.</div>
        </div>
      </div>
    </div>
    
    <div class="md:w-1/2 p-3">
      <div class="flex flex-col lg:flex-row h-auto lg:h-32">
        <img class="w-full lg:w-48 flex-none pt-4" src="{{ siteUrl }}assets/img/rachael-siddoway.jpg">
        <div class="bg-white p-4 flex flex-col justify-between leading-normal">              
          <div class="text-black text-xl mb-2 leading-loose">Rachael Siddoway
graduated from Brigham Young University with a degree in Art Education. She started writing novels at the age of twelve and hasn’t stopped drafting new book ideas since.</div>
        </div>
      </div>
    </div>
  </div>
</section>