
{# Upcoming books #}
<section class="bg-white py-4 font-serif xs:my-16 lg:my-32">
  <div class="text-center container m-auto"> 
    <label for="tagline" class="uppercase tracking-wide font-bold text-center text-grey-dark"> Upcoming 
    </label>
    <h2 class="mt-2 mb-4 font-medium max-w-sm m-auto italic">
      Books
    </h2>
    <hr class="border-b w-8 m-auto my-6">
  </div>
  


  <div class="container container max-w-xl m-auto flex flex-wrap flex-col md:flex-row items-center justify-start">
    <div class="flex flex-wrap">
    
    <div class="w-full lg:w-1/3 p-3">
      <div class="flex flex-col lg:flex-row rounded overflow-hidden border shadow shadow-lg">
        <div class="flex flex-wrap justify-between bg-white rounded-b lg:rounded-b-none lg:rounded-r leading-normal p-4">              
          <div class="w-full px-4">
            <label for="tagline" class="uppercase text-base tracking-wide font-bold text-center text-grey-dark"> 
              Part II — An Impossible Life 
            </label>
            <div class="text-black text-2xl italic mb-2 leading-normal">
              A Possible Life
            </div>
            <div class="text-base mb-2 leading-normal">
              Sonja's finally learned the skills to live a possible life, does she? Coming soon, date to be announced.
 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-1/3 p-3">
      <div class="flex flex-col lg:flex-row rounded overflow-hidden border shadow shadow-lg">
        <div class="flex flex-wrap justify-between bg-white rounded-b lg:rounded-b-none lg:rounded-r leading-normal p-4">              
          <div class="w-full px-4">
            <label for="tagline" class="uppercase text-base tracking-wide font-bold text-center text-grey-dark"> 
              Rachael's Story 
            </label>
            <div class="text-black text-2xl italic mb-2 leading-normal">
              An Impossible Childhood
            </div>
            <div class="text-base mb-2 leading-normal">
              How does a Bipolar mom shape a child's life?
              Rachael shares her experience through a lovely and haunting collection of stories. 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full lg:w-1/3 p-3">
      <div class="flex flex-col lg:flex-row rounded overflow-hidden border shadow shadow-lg">
        <div class="flex flex-wrap justify-between bg-white rounded-b lg:rounded-b-none lg:rounded-r leading-normal p-4">              
          <div class="w-full px-4">
            <label for="tagline" class="uppercase text-base tracking-wide font-bold text-center text-grey-dark"> 
              Lincoln's Story 
            </label>
            <div class="text-black text-2xl italic mb-2 leading-normal">
              An Impossible Mother
            </div>
            <div class="text-base mb-2 leading-normal">
After my mother's attempted suicide I was forced to leave home at the age of sixteen. This traumatic event that ripped through my life still left me unprepared for what was to come.            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</section>