  <div class="text-center container lg:pt-16 m-auto"> 
    <label for="tagline" class="uppercase tracking-wide font-bold text-center text-grey-dark"> Contact 
    </label>
    <h2 class="mt-2 mb-4 max-w-sm m-auto italic">
      Us
    </h2>
    <hr class="border-b w-8 m-auto my-6">
  </div>


<div class="flex flex-wrap max-w-lg m-auto px-16">

  <div class="w-1/2 max-w-md mx-auto my-8 px-8 py-6">
    <p class="text-lg leading-normal pb-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a facilisis est. Etiam ac egestas nulla, in venenatis velit. Maecenas eu maximus mi. Etiam in leo gravida.
    </p>
    <p class="text-black text-2xl"> Email: 
      <a href="mailto:andrew@circa42.com" class="no-underline hover:text-grey-darkest text-grey-dark text-2xl">andrew@circa42.com
      </a>
    </p>
  </div>

  <div class="w-1/2">
    <form class="font-serif text-sm rounded w-full max-w-md mx-auto my-8 px-8 py-6">
      <div class="relative border rounded mb-4 shadow appearance-none label-floating">
        <input class="w-full py-2 px-3 text-grey-darker leading-normal rounded" id="name" type="text" placeholder="Name">
        <label class="absolute block text-grey-darker pin-t pin-l w-full px-3 py-2 leading-normal" for="name">
          
        </label>
      </div>
      <div class="relative border rounded mb-4 shadow">
        <textarea class="w-full py-2 px-3 text-grey-darker leading-normal rounded" id="comment" rows="4">
        
      </textarea>
      </div>

      <div class="flex items-center justify-between">
        <button class="bg-red-darker shadow hover:bg-white text-white font-semibold hover:text-red-darker py-2 text-base rounded px-4 border-white border hover:border-red-darker">
                Send 
        </button>
      </div>

    
  </div>


    </form>
  </div>
</div>

