<footer class="font-sans bg-black text-white py-8 px-4">
  <div class="mx-auto max-w-xl overflow-hidden flex justify-center items-center">

    <div class="inline-block py-2 px-3 text-grey-darker text-xs"> 
      © 2019 An Impossible Life. All rights reserved.
    </div>
    <div>
      <a href="https://circa42.com" class="inline-block py-2 px-3 text-grey-darker text-xs no-underline hover:text-grey" target="_blank">Site designed by circa42 | Portland Craft Developer</a>
    </div>
  </div>
</footer>