<section class="bg-white font-serif max-w-xl m-auto lg:py-24" id="photos">
  <div class="text-center container m-auto"> 
    <label for="tagline" class="uppercase tracking-wide font-bold text-center text-grey-dark"> Photos
    </label>
    <h2 class="mt-2 mb-4 font-medium max-w-sm m-auto italic">
      & Extras
    </h2>
    <hr class="border-b w-8 m-auto my-6">
  </div>


  <div class="flex flex-wrap items-center m-auto justify-center">
  {% set entries = craft.entries.section('extras').limit(35).all() %}

        {% for entry in entries %}
          {% if entry.type == 'photos' %}
            {% set assets = entry.photo.all() %}
            {% for asset in assets %}
                <div class="w-24 m-2">
                  <div class="overflow-hidden">
                    <a data-fancybox="gallery" href="{{ asset.getUrl('galleryFull') }}">
                      <img class="w-full rounded-lg shadow" src="{{ asset.getUrl('galleryThumb') }}" alt="{{ entry.altTag }}" title="{{ entry.titleTag }}">
                    </a>
                  </div>
                </div>
            {% endfor %}
          {% endif %}
        {% endfor %}     
     

{# 

    <div class="w-32 flex-auto">
      <div class="overflow-hidden bg-white">
        <a data-fancybox="gallery" href="https://stitches-cdn.hyperyolo.com/demo-bg.png">
          <img class="w-full" src="https://stitches-cdn.hyperyolo.com/demo-bg.png" alt="Sunset in the mountains">
        </a>
      </div>
    </div>
         #}


  </div>
</section>