<section class="bg-white py-4 font-serif xs:my-16 lg:my-32" id="media">


	<div class="text-center container m-auto"> 
		<label for="tagline" class="uppercase tracking-wide font-bold text-center text-grey-dark"> 
			Featured 
		</label>
		<h2 class="mt-2 mb-4 font-medium max-w-sm m-auto italic">
			Media
		</h2>
		<hr class="border-b w-8 m-auto my-6">
	</div>
	
  	<div class="flex flex-wrap justify-center m-auto max-w-xl">

    	
    	<div class="text-center w-full sm:w-1/2 md:w-1/4 p-4">
      		<img src="{{ siteUrl }}assets/img/60-minutes.png">
    	</div>

    	<div class="text-center w-full sm:w-1/2 md:w-1/4 p-4">
      		<img src="{{ siteUrl }}assets/img/abc.png">
    	</div>

    	<div class="text-center w-full sm:w-1/2 md:w-1/4 p-4">
      		<img src="{{ siteUrl }}assets/img/the-new-york-times.png">
    	</div>

    	<div class="text-center w-full sm:w-1/2 md:w-1/4 p-4">
      		<img src="{{ siteUrl }}assets/img/wall-street-journal.png">
    	</div>

    </div>
    

</section>