<section class="font-serif container m-auto text-center py-8" id="praise">
  <label for="tagline" class="uppercase tracking-wide font-bold text-grey-dark">Reviews of </label>
  <h2 class="mt-2 mb-4 font-medium max-w-sm m-auto italic">An Impossible Life:</h2>
  <hr class="border-b w-8 m-auto my-6">
  
  <div class="flex flex-wrap justify-between items-start">
    

  {% set entries = craft.entries.section('praise').all() %}
  {% for entry in entries %}
    

      <div class="w-full sm:w-1/2 lg:w-1/4 flex flex-col p-4">
      <i class="fas fa-quote-left text-grey-light"></i>
      <p class="leading-normal text-xl text-left mb-4 text-grey-darkest">
        &ldquo;
          {{ entry.endorsementBody }}
        &rdquo;</p>
        <p class="my-4 text-base italic text-right text-grey-dark">
          <span class="uppercase roman text-grey-darker tracking-wide font-bold">
          — {{ entry.endorsementName }}<br>
          </span>
          {{ entry.endorsementTitle }}<br>
          {{ entry.endorsementLocation }}
        </p>
      </div>
  {% endfor %}



  </div>

</section>