{% extends '_base.twig' %}

{% block body %}

{# Blog list #}
<section class="bg-white py-4 font-serif xs:my-16 lg:my-32">
  <div class="text-center container m-auto"> 
    <label for="tagline" class="uppercase tracking-wide font-bold text-center text-grey-dark"> 
    	Category
    </label>
    <h2 class="mt-2 mb-4 font-medium max-w-sm m-auto italic">
      {{ category.title }}
    </h2>
    <hr class="border-b w-8 m-auto my-6">
  </div>

{% include "blog/_catlisting" %}


{#   start blog listing #}
  
  <div class="container container max-w-xl m-auto flex flex-wrap flex-col md:flex-row items-center justify-start">
	    <div class="flex flex-wrap">

		{% set query = craft.entries().relatedTo(category)
		    .limit(8) %}

			{% include "blog/_entryloop" %}

		</div>
	</div>
</section>

{% endblock %}