{# cat listing #}
<div class="container flex justify-center mx-auto my-6">
{% set catQ = craft.categories.group('resourcesCategories') %}
	{% for category in catQ.all() %}
		
		<div class="inline mr-2">
			<a href="{{ category.url }}" class="text-red-darker font-semibold hover:text-gray-darker text-base px-4 border-red-darker rounded border hover:shadow no-underline">
				# {{ category.title }}
			</a>
		</div>

	{% endfor %}
</div>