{% for entry in entries %}
		<div class="flex justify-center in-line">
			<div class="">
				<a href="{{ entry.url }}" class="no-underline text-black hover:text-red-dark text-2xl">
					{{ entry.title }}
				{% if entry.date %} 
					
						— {{ entry.date |date('short') }} 
					
					{% endif %}
				</a> 
				

			</div>
			
		</div>
{% endfor %}